<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Flores</title>
</head>
<body>
    <center>
    <h1>Eliminar Registros de Flores</h1>
    <form action="/eliminar2/{{flor.0}}" method="get">
  
        <input type="text" name="txtTitulo", value="{{flor.1}}">
        <input type="text" name="txtCantidad", value="{{flor.2}}">
        <input type="text" name="txtPrecio", value="{{flor.3}}">

        <button type="submit">Eliminar Registro</button>        
    </form>
    </center>
</body>
</html>

